# Python / Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
venv/
.venv/

# IDE / Éditeurs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs / Tests
*.log
logs/
.pytest_cache/
.coverage
htmlcov/

*.onnx
*.onnx.json

modelscuda_*.run
.venv/
*.zip

models/
pdf/